* {
    margin: 0;
    padding: 0;
    color: #0056d8;
    font-family: "Spectral", serif;

}
body {
  background-color: #CAF0F8;

}

.titulo {
  background: #00B4D8;
  width: 100%;
}
.encabezado {
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 30px;
    font-size: 200%;
    color: #03045E;
}
.encabezado h1 {
    border: 5px solid #023E8A;
    font-size: 300%;
    text-shadow: -3px 3px 10px #03045E;
    border-radius: 150px;
}

.fondo{
  width: 100%; /* Ancho del div */
  height: 400px; /* Altura del div */
  background-image: url(../media/2024-06-14_23.23.14.png); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
  padding: 50px 0px;
  margin: auto;
  text-align: center;
}
.proyecto9 {
  font-size: 300%;
  text-shadow: -3px 3px 10px #080808;
  background-color: #080808;
  display: flexbox;
  text-align: center;
  margin: auto;
}

.contenedor {
    display: flex;
    margin: auto;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 200%;
    color: #03045E;
    border: #023E8A solid 10px;
    border-radius: 150px;
    padding: 10px;
    text-shadow: -3px 3px 10px #03045E;
    background-color: #027a8aa4;
  }

  
  .contenedor img {
    width: 100%;
    z-index:;
  }
  
  .seccion {
  
    margin-bottom: 10px;
    z-index: 1;
  
  }
  
  .seccion span {
  
    font-size: 200%;
  
    font-weight: bold;
  
  }
  
  .seccion label {
  
    font-size: 70%;
  
    text-transform: uppercase;
  
  }
  .sub-iconos {
    margin: 25px auto 0px;
    width: 30%;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 150%;
    text-shadow: -3px 3px 2px #080808;
  }

.iconos {
  width: 30%;
  margin:  15px auto 0px;
  display: flex;
  justify-content: space-evenly;
  padding: 75px auto;
}
.iconos img {
    width: 50px;
    padding: 2px;
    background-color: #ADE8F4;
    border-radius: 10px;
}
.iconos img:hover {
  background-color: #023E8A;
}

footer {
  background-color: #03045E;
  position: relative;
  justify-content: end;
  max-height: 100px;
}

p {
  display: flex;
  text-align: end;
  margin: auto;
  width: 50%;
  color: #03045E;
}
.final {
  text-align: end;
  color: #CAF0F8;
}
/*aaaa https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a  */